<h1>Store Inventory App Home</h1>
<p>Welcome to the MVC Store Inventory App</p>
<p>The store inventory app has the following counts:</p>
<ul>
  <li>
    <strong>Number of Categories:</strong>
    <div><%=numCategories%></div>
  </li>
  <li>
    <strong>Number of Inventory Items:</strong>
    <div><%=numInventoryItems%></div>
  </li>
  <li>
    <strong>Number of Items:</strong>
    <div><%=numItems%></div>
  </li>
</ul>
